body { text-align: center; font-family: Arial, sans-serif; }
img { width: 200px; height: auto; margin: 20px; }
.peli1 {
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 10%;
  border-radius: 10px;
}

h1 {
    color: #43C368;
    text-decoration: underline;
    
}

p {
    color: black;
}

button {
    background-color: #43C368; 
    color: #FFFFFF; 
    border: none;
    margin-bottom: 5%;
    height: 10%;
    width: 25%;
    border-radius: 5px;
    font-size: 1rem;
}

button:hover {
    background-color: #1F7337;
    cursor: pointer;
}
